div{
    width:150px;
    height:150px;
    background-color:aqua;
    border:1px solid black;
    display:inline-block; 
}
/* Relative Position */
#box3{
    position:absolute;
    top:100px;
    left:50px;
}
#box1{
    position:fixed;
}
.wrapper{
    height:2000px;
    Width:100vw;
    background-color:yellow;
}
#box4{
    position:sticky;
    top:0px;
}